/*
THEME CHAT
*/

/*
DEFAULT
----------------------------------------------------*/
body {
	background-color: #0E0E0E;
}

/*
ID
----------------------------------------------------*/
#activity {
	width: 800px;
	height: 500px;

	margin: auto;
	margin-top: 100px;
}
#header {
	display: flex;
	align-items: center;
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
}
#title {
	font-weight: bold;
	font-family: Arial;
	font-size: 16pt;
}
#contents {
	display: flex;
	align-items: center;
	width: 800px;
	height: 450px;
}
#contacts {
	display: flex;
	flex-direction: column;
	align-items: left;
	background-color: #fff;
	height: 440px;
	width: 200px;

	padding: 5px;
}
#main {
	width: 600px;
	height: 450px;

	display: flex;
	align-items: left;
	flex-direction: column;

	background-image: url("https://previews.123rf.com/images/oksancia/oksancia1806/oksancia180600038/103362842-blue-tribal-abstract-seamless-repeat-pattern-texture-great-for-folk-modern-wallpaper-backgrounds-inv.jpg");
	background-repeat: repeat;
	background-size: 200px 200px;
}
#cts_header {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;

	text-align: center;
	font-weight: bold;
	font-family: Arial;
	font-size: 12pt;

	border-bottom: 1px solid rgb(220,220,220);
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
}
#commands {
	display: flex;
	align-items: center;
	background-color: rgb(240,240,240);
	padding: 5px;
	width: 590px;

	border-top: 1px solid rgb(220,220,220);
}
#discussion {
	width: 570px;
	height: 420px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	padding: 15px;
	overflow: auto;
}
#write_msg {
	border: 0;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}
#send_msg {
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 10pt;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
}

/*
CLASS
----------------------------------------------------*/
.tal {
	background-color: #00C80F;
	text-align: center;
	font-weight: bold;
	font-family: Arial;
	color: white;
}

.logo {
	width: 50px;
	padding-right: 10px;
	padding-left: 10px;
	user-select: none;
}

.cts {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;

	display: flex;
	align-items: center;

	font-family: Arial;
	font-weight: bold;
	font-size: 10pt;

	cursor: pointer;
}

.cts img {
	width: 30px;
	border-radius: 50px;
	border: 3px solid #fff;
	margin-left: 10px;
	margin-right: 10px;
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
}

.cts:hover{
	background-color: rgb(240,240,240);
	color: black;
	opacity: 0.8;
}
.cts:active{
	background-color: rgba(0, 200, 15,0.5);
}
.selected {
	background-color: rgb(240,240,240);
	color: black;
	opacity: 0.8;
}

.msg{
	font-family: Arial;
	font-size: 9pt;

	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 50px;
	margin-bottom: 5px;

	background-color: white;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.online img {
	border: 3px solid #44C95B;
}

.busy img {
	border: 3px solid #FFB400;
}

.offline img {
	border: 3px solid #EF3934;
}
.circ{
	border-radius: 50px;
}
.round{
	border-radius: 10px;
}
.exp {
	align-self: flex-end;
	background-color: rgb(240,255,240);
}
.sys {
	align-self: center;
	background-color: #a6e5fc;
}
*:focus {
    outline: none;
}
.halloween{
	background-color: #F86909;
	text-align: center;
	font-weight: bold;
	color: black;
}